# ignore everything in the data directory because it's too big
data/*

# but don't ignore data/script/* because that's how we load in the data
!data/script/*

# ignore wandb nonsense
model/wandb/*
model/script/wandb/*